.container-fluid{
  padding: 25px;
  background-color: #F3F3F3;
  margin: auto;
  
}

.row{
  margin: 105px;
  background-color: #FFFFFF;
  border-left: #B8B6B9;
  border-right: #B8B6B9;
  border-bottom: #B8B6B9;
  
}

.section{
  width: 150px;
  height: 150px;
}

.btn-default{
  background-color: #FFB947;
  margin: auto;
  height: 50px;
  width: 150px;

  
}

.cesLogo{
  float: right;
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.p{
  color: #F1F1F1;
}

.label{
  color: #161527;
}

.form-control{
  border-bottom-color: #17161B;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  color: white;
  text-align: center;
}


/* .float-left{
  float: left;
}
.float-right{
  float: right;
}
.padding-left-5{
  padding-left: 5%;
}
.padding-right-5{
  padding-right: 5%;
}

.padding-top-15{
  padding-top: 50px;
}
.display-inline{
display: inline;
height: 120px;
width: 150px;
}  */

.copyright{
  float: left;
  padding-left: 5%;
  padding-top: 50px;
  color: #161527;
}

.footerText{
  float: right;
  padding-right: 5%;
  color: #161527;
}

.cesLogo{
  display: inline;
  height: 120px;
  width: 150px;
}